body {
    text-align: center;
    font-family: sans-serif;
}

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.name {
    color: #999;
    margin-top: 1em;
}

header {
    margin: 4em 1em;
}

.test {
    background-color: #f5f5f5;
    padding: 5em 1.5em;
    .si {
        transform: scale(.5);
    }
    [class^="si-"]{
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    li {
        margin: 0;
        padding: 2em;
        border:1px solid #f0f0f0;
        background-color: white;
    }
}

@color-main: black;

@color-alt: #999;

@width-main: 32px;
@height-main: 4px;
@gap-main: 10px;


.si {
    display: inline-block;
    // change this value to increase o reduce the icon size
    transform: scale(1);
    padding: @gap-main 0;
    cursor: pointer;
   //background-color: orange;
   // overflow: hidden;
    span {
        position: absolute;
        width: 1px;
        height: 1px;
        border: 0;
        clip: rect(0, 0, 0,0);
        margin: -1px;
        padding: 0;
        overflow: hidden;
    }
    a {
        transition: ease-in-out all .250s;
        &:before,
        &:after {
            transition: ease-in-out all .250s;
        }
    }
    .si-cross,
    .si-top,
    .si-right,
    .si-bottom,
    .si-left {
        background-color: transparent;
    }
    &:hover {
        [class^="si-"] {
            background-color: #999;
            &:before,
            &:after {
                background-color: #999;
            }
        }
        .si-cross,
        .si-top,
        .si-right,
        .si-bottom,
        .si-left {
            background-color: transparent;
        }
    }
}

[class^="si-"]{
    position: relative;
    display: block;
    height: @height-main;
    width: @width-main;
    background-color: @color-main;
    &:before,
    &:after {
        position: absolute;
        display: block;
        content: "";
        width: @width-main;
        height: @height-main;
        background-color: @color-main;
    }
}


.si-nav {
    &:before {
        transform: translateY(-@gap-main;);
    }
    &:after{
        transform: translateY(@gap-main;);
    }
}

.si-cross {
    &:before {
        transform: translateX(0px)  rotate(45deg);
    }
    &:after {
        transform: translateX(0px)  rotate(-45deg);
    }
}

.si-top {
    &:before {
        transform: translateX(-1px) translateY(0) rotate(-45deg);
        width: @width-main / 1.5;
    }
    &:after {
        transform: translateX(@gap-main+1.5) translateY(0)  rotate(45deg);
        width: @width-main / 1.5;
    }
}
.si-toparrow {
    transform: rotate(90deg);
    &:before {
        transform: translateX(-3px) translateY(@gap-main/1.5) rotate(-135deg);
        width: @width-main / 1.5;
    }
    &:after {
        transform: translateX(-3px) translateY(-@gap-main/1.5)  rotate(135deg);
        width: @width-main / 1.5;
    }
}

.si-right{
    &:before {
        transform: translateX(@gap-main/2) translateY(-@gap-main + 3)  rotate(45deg);
        width: @width-main / 1.5;
    }
    &:after {
        transform: translateX(@gap-main/2) translateY(@gap-main - 3;) rotate(-45deg);
        width: @width-main / 1.5;
    }
}
.si-rightarrow {
    &:before {
        transform: translateX(@gap-main + 3) translateY(-@gap-main + 3)  rotate(45deg);
        width: @width-main / 1.5;
    }
    &:after {
        transform: translateX(@gap-main + 3) translateY(@gap-main - 3;) rotate(-45deg);
        width: @width-main / 1.5;
    }
}

.si-bottom{
    &:before {
        transform: translateX(-1px) translateY(0) rotate(45deg);
        width: @width-main / 1.5;
    }
    &:after {
        transform: translateX(@gap-main+1.5) translateY(0)  rotate(-45deg);
        width: @width-main / 1.5;
    }
}
.si-bottomarrow {
    transform: rotate(90deg);
    &:before {
        transform: translateX(@gap-main + 3) translateY(@gap-main - 3) rotate(135deg);
        width: @width-main / 1.5;
    }
    &:after {
        transform: translateX(@gap-main + 3) translateY(-@gap-main + 3) rotate(-135deg);
        width: @width-main / 1.5;
    }
}

.si-left {
    &:before {
        transform: translateX(@gap-main/2) translateY(-@gap-main + 3)  rotate(-45deg);
        width: @width-main / 1.5;
    }
    &:after {
        transform: translateX(@gap-main/2) translateY(@gap-main - 3;) rotate(45deg);
        width: @width-main / 1.5;
    }
}
.si-leftarrow {
    &:before {
        transform: translateX(-3px) translateY(-@gap-main + 3)  rotate(-45deg);
        width: @width-main / 1.5;
    }
    &:after {
        transform: translateX(-3px) translateY(@gap-main - 3;) rotate(45deg);
        width: @width-main / 1.5;
    }
}


.si-plus {
    &:after {
        transform: translateX(0px)  rotate(90deg);
    }
}

