body {
    text-align: center;
    font-family: sans-serif;
}

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    margin: 3em 1em 0;
    h1 {
        margin-bottom: 0;
        &+ p {
            margin-bottom: 2em;
            color: #999;
        }
    }
}

.test {
    padding: 2em 1.5em;
    .sia {
        .16x;
    }
    ul {
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
        max-width: 500px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    li {
        flex-grow: 1;
        margin: 0;
        padding: 1em;
        border: 3px solid white;
        background-color: rgb(7, 52, 250);
        [class^="sia-"]{
            background-color: white;
            border-color: white;
            &:after,
            &:before {
                background-color: white;
            }
        }
        cursor: pointer;
        &:hover {
            background-color: rebeccapurple;
            [class^="sia-"]{
                background-color: white;
                border-color: white;
                &:after,
                &:before {
                    background-color: white;
                }
            }
        }
    }
}
.example {
    padding: 2em 1em;
    background-color: black;
}
pre,
code {
    font-size: 13px;
    padding: 0;
    color: white;
    margin: 0;
    line-height: 1.4em;
    white-space: pre-wrap;
}

