/* ==========================================================================
   Sia - Simple Icon Animation
   ========================================================================== */
/*
 * Create animated icons on links
 *
 * Html example:
 * -----------------------------------------------------------------------------
 * <div class="si">
 *      <a class="si-nav" href="#"><span>show/hide navigation</span></a>
 * </div>
 */

/* Variables
   ========================================================================== */
@color-main: black;
@color-hover: #999;

@icon-width: 32px;
@icon-height: 32px;

@icon-width-mini: 22px;

@main-height: @icon-height / 8;

@border-radius: @main-height * 2;

/* Common classes
   ========================================================================== */
.transparent {
    background-color: transparent !important;
}
.color-hover {
    background-color: @color-hover;
}
.transition {
    transition: ease-in all .250s;
}
.border-radius {
    border-radius: @border-radius;
}
.center {
    transform: translateY(@icon-height/2 - @main-height/2);
}
.icon-width-mini {
    width: @icon-width-mini !important;
}
.line {
    display: block;
    width: @icon-width;
    height: @main-height;
    background-color: @color-main;
}

.16x() {
    transform: scale3d(.5,.5,.5);
}
.64x() {
    transform: scale3d(2,2,2);
}


/* Icon container
   ========================================================================== */
.sia {
    display: inline-block;
    height: @icon-height;
    width: @icon-width;
    //background-color: aquamarine;
    cursor: pointer;
    span {
        position: absolute;
        width: 1px;
        height: 1px;
        border: 0;
        clip: rect(0, 0, 0,0);
        margin: -1px;
        padding: 0;
        overflow: hidden;
    }
    [class^="sia-"] {
        &:extend(.transition);
        &:before,
        &:after {
            &:extend(.transition);
        }
    }
    .sia-cross,
    .sia-plus,
    .sia-check,
    .sia-search,
    .sia-top,
    .sia-right,
    .sia-bottom,
    .sia-left,
    .sia-circleo {
        &:extend(.transparent);
    }
    .sia-minus,
    .sia-circle,
    .sia-circleo{
        &:before,
        &:after {
            &:extend(.transparent);
        }
    }
    .sia-search {
        &:after {
            &:extend(.transparent);
        }
    }
    &:hover {
        [class^="sia-"]:extend(.color-hover) {
            &:before,
            &:after {
                &:extend(.color-hover);
            }
        }
        .sia-cross:extend(.transparent),
        .sia-plus:extend(.transparent),
        .sia-check:extend(.transparent),
        .sia-search:extend(.transparent),
        .sia-top:extend(.transparent),
        .sia-right:extend(.transparent),
        .sia-bottom:extend(.transparent),
        .sia-left:extend(.transparent),
        .sia-circleo:extend(.transparent)  {
        }
        .sia-minus,
        .sia-circle,
        .sia-circleo {
            &:before:extend(.transparent) ,
            &:after:extend(.transparent) {
            }
        }
        .sia-search{
            border-color: @color-hover;
            &:after:extend(.transparent) {
            }
        }
    }
}

/* Common icon
   ========================================================================== */
[class^="sia-"] {
    position: relative;
    &:extend(.line);
    &:extend(.border-radius);
    &:before,
    &:after {
        &:extend(.line);
        &:extend(.border-radius);
        content: "";
        position: absolute;
    }
}

/* Icons
   ========================================================================== */
.sia-nav {
    &:extend(.center);
    &:before {
        transform: translateY(@icon-height/3.5);
    }
    &:after{
        transform: translateY(-@icon-height/3.5);
    }
}

.sia-cross {
    &:extend(.center);
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}

.sia-plus {
    &:extend(.center);
    &:before {
        transform: rotate(90deg);
    }
}

.sia-minus {
    &:extend(.center);
}

.sia-check {
    &:extend(.center);
    &:before {
        transform: translateX(@main-height)  translateY(@main-height) rotate(45deg);
        width: @icon-width-mini/2;
    }
    &:after:extend(.icon-width-mini) {
        transform: translateX(@main-height * 2) rotate(-45deg);
    }
}

.sia-search {
    height: @icon-height / 1.25;
    width: @icon-width / 1.25;
    border-radius: 50%;
    border: 3px solid @color-main;
    &:before {
        transform: translateX(@icon-width / 2) translateY(@icon-width/1.5) rotate(45deg);
        width: @icon-width-mini / 1.5;
    }
}

.sia-top {
    &:extend(.center);
    &:before:extend(.icon-width-mini) {
        transform: translateX(-1px) rotate(-45deg);
    }
    &:after:extend(.icon-width-mini) {
        transform: translateX(@icon-width / 3 + 1px) rotate(45deg);
    }
}

.sia-right{
    &:extend(.center);
    &:before:extend(.icon-width-mini) {
        transform: translateX(@icon-width/6) translateY(-@icon-height/5) rotate(45deg);
    }
    &:after:extend(.icon-width-mini) {
       transform: translateX(@icon-width/6) translateY(@icon-height/5) rotate(-45deg);
    }
}

.sia-bottom {
    &:extend(.center);
    &:before:extend(.icon-width-mini) {
        transform: translateX(-1px) rotate(-135deg);
    }
    &:after:extend(.icon-width-mini) {
        transform: translateX(@icon-width / 3 + 1px) rotate(135deg);
    }
}

.sia-left{
    &:extend(.center);
    &:before:extend(.icon-width-mini) {
        transform: translateX(@icon-width/6) translateY(-@icon-height/5) rotate(-45deg);
    }
    &:after:extend(.icon-width-mini) {
       transform: translateX(@icon-width/6) translateY(@icon-height/5) rotate(45deg);
    }
}

.sia-toparrow {
    transform: translateX(@icon-height/16) translateY(@icon-height/2) rotate(90deg);
    width: @icon-width - @icon-height/8;
    &:before:extend(.icon-width-mini) {
        transform: translateX(-@icon-width-mini / 3.5) translateY(@icon-width-mini / 3.5) rotate(45deg);
    }
    &:after:extend(.icon-width-mini) {
       transform: translateX(-@icon-width-mini / 3.5) translateY(-@icon-width-mini / 3.5) rotate(-45deg);
    }
}

.sia-rightarrow{
    width: @icon-width - @icon-height/8;
    &:extend(.center);
    &:before:extend(.icon-width-mini) {
        transform: translateX(@main-height * 3) translateY(-@icon-width-mini / 3.5) rotate(45deg);
    }
    &:after:extend(.icon-width-mini) {
        transform: translateX(@main-height * 3) translateY(@icon-width-mini / 3.5) rotate(-45deg);
    }
}

.sia-leftarrow{
    transform: translateX(@icon-height/16 + @icon-width/16) translateY(@icon-width/2 - @main-height/2);
    width: @icon-width - @icon-height/8;
    &:before:extend(.icon-width-mini) {
        transform: translateX(-@icon-width-mini / 3 + 1px) translateY(-@icon-height/5) rotate(-45deg);
    }
    &:after:extend(.icon-width-mini) {
        transform: translateX(-@icon-width-mini / 3 + 1px) translateY(@icon-height/5)  rotate(45deg);
    }
}

.sia-bottomarrow {
    transform: translateX(@icon-height/16) translateY(@main-height*3) rotate(90deg);
    width: @icon-width - @icon-height/8;
    &:before:extend(.icon-width-mini) {
        transform: translateX(@icon-width-mini / 2) translateY(@icon-height/5) rotate(-45deg);
    }
    &:after:extend(.icon-width-mini) {
        transform: translateX(@icon-width-mini / 2) translateY(-@icon-height/5) rotate(45deg);
    }
}

.sia-circle {
    height: @icon-height;
    border-radius: 50%;
}

.sia-circleo {
    &:extend(.sia-circle);
    border: 3px solid @color-main;
    &:hover {
        border-color: @color-hover;
    }
}
